@charset "UTF-8";
/* Isso a globo não mostra */


body {
    margin: 0;
    padding: 0;
    background: url(_imagens/fundo.jpg) ;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
 /* background-attachment: fixed; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

div {
    padding: 20px;
    position: relative;
    width: 700px;
    height: 500px;
    background-color: #f8f8f8;
    margin: 145px auto 200px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 0.3px rgba(0,0,0,.3);
    word-wrap: break-word;
}

/* Long live House Stark */